In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
hostname = os.environ.get('HOSTNAME', 'localhost')
username = os.environ.get('USERNAME', 'postgres')
password = os.environ.get('PASSWORD', 'letmein')
database = os.environ.get('DATABASE', 'postgres')

# dialect types = postgresql, mysql, oracle, mssql, sqlite
engine = create_engine(f'postgresql://{username}:{password}@{hostname}:5432/{database}')

In [ ]:
df = pd.read_csv('data/names.csv')
df

In [ ]:
df.to_sql(
    name='names',
    con=engine,
    schema='tutorial',
    if_exists='append',
    index=False,
)

In [ ]:
sql = '''
    SELECT name, year
    FROM tutorial.names
'''
df = pd.read_sql(sql, engine)
df

In [ ]:
df['first_name'] = df['name'].apply(lambda x: x.split()[0])

In [ ]:
df['last_name'] = df['name'].apply(lambda x: x.split()[1])

In [ ]:
df

In [ ]:
sql = '''
    DROP TABLE IF EXISTS tutorial.names
'''
engine.execute(sql)
df.to_sql(
    name='names',
    con=engine,
    schema='tutorial',
    if_exists='append',
    index=False,
)

In [ ]:
df.loc[3, 'name'] = None

In [ ]:
df